* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.postContainer {
  background-color: #242424;
}

.heading {
  color: white;
  text-align: center;
}

.postContent {
  margin-left: 2rem;
  color: white;
}